<div *ngIf="ready">
  <tib-la-caseaction-form #actionRef
    case-ref="533991"
                          use-custom-form=true
                          sandbox="3100"
                          form-div-id="formDiv"
                          chat-bot-enabled="false"
                          id="16167"
                          name="UpdateCharityApp"
                          version="1"
                          application-id="3462"
                          application-name="CharityApp"
                          label="Update Charity App"
                          activity-name="Task"
                          (formLoad)="handleFormLoad($event)"
                          (formCancel)="handleFormEvent($event)"
                          (formSubmit)="handleFormEvent($event)">
  </tib-la-caseaction-form>
  <!--tib-la-openworkitem-form #actionRef
    id=103
    sandbox=1
    form-div-id="formDiv"
    use-custom-form=true
    (formLoad)="handleFormLoad($event)"
    (formCancel)="handleFormEvent($event)"
    (formSubmit)="handleFormEvent($event)">
  </tib-la-openworkitem-form-->
  <!--tib-la-casecreator-form #creatorRef
                           use-custom-form=false
                           sandbox="3100"
                           form-div-id="formDiv"
                           chat-bot-enabled="false"
                           id="16166"
                           name="CreateCharityApp"
                           version="1"
                           application-id="3462"
                           application-name="CharityApp"
                           label="Create Charity App"
                           activity-name="Task"
                           (formLoad)="handleFormLoad($event)"
                           (formCancel)="handleFormEvent($event)"
                           (formSubmit)="handleFormEvent($event)">
  </tib-la-casecreator-form-->


  <button (click)="handleCancel()">cancel</button>
  <button (click)="handleSubmit()">submit</button>
  <button (click)="handleClose()">close</button>

  <div id="formDiv"></div>
</div>
